<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">Menu</ion-button>
    </ion-buttons>
    <ion-title class="title">Search Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="inputValue" placeholder="Search for Recipe"></ion-input>
  </ion-item>

  <ion-button (click)="searchRecipes()">Search</ion-button>

  <ion-card *ngFor="let recipe of recipes">
    <div *ngIf="!isClicked">
      <img alt="Recipe" src="{{recipe.strMealThumb}}" height="230" (click)="toggleContent()"/>
      <ion-card-header>
        <ion-card-title>{{recipe.strMeal}}</ion-card-title>
        <a href="{{recipe.strYoutube}}">Link To YouTube Video</a>
        <p>Click on Image to reveal instructions</p>
      </ion-card-header>
      <ion-button (click)="addFavourite(recipe)">Click to add to favourites</ion-button>
    </div>

    <div *ngIf="isClicked" (click)="toggleContent()">
      <h3>{{recipe.strMeal}}</h3>
      <ion-card-content>{{recipe.strInstructions}}</ion-card-content>
      <ion-list>
        <h3>Ingredients : Measurement</h3>
        <p>{{recipe.strIngredient1}} : {{recipe.strMeasure1}}</p>
        <p>{{recipe.strIngredient2}} : {{recipe.strMeasure2}}</p>
        <p>{{recipe.strIngredient3}} : {{recipe.strMeasure3}}</p>
        <p>{{recipe.strIngredient4}} : {{recipe.strMeasure4}}</p>
        <p>{{recipe.strIngredient5}} : {{recipe.strMeasure5}}</p>
        <p>{{recipe.strIngredient6}} : {{recipe.strMeasure6}}</p>
        <p>{{recipe.strIngredient7}} : {{recipe.strMeasure7}}</p>
        <p>{{recipe.strIngredient8}} : {{recipe.strMeasure8}}</p>
        <p>{{recipe.strIngredient9}} : {{recipe.strMeasure9}}</p>
        <p>{{recipe.strIngredient10}} : {{recipe.strMeasure10}}</p>
        <p>{{recipe.strIngredient11}} : {{recipe.strMeasure11}}</p>
        <p>{{recipe.strIngredient12}} : {{recipe.strMeasure12}}</p>
        <p>{{recipe.strIngredient13}} : {{recipe.strMeasure13}}</p>
        <p>{{recipe.strIngredient14}} : {{recipe.strMeasure14}}</p>
        <p>{{recipe.strIngredient15}} : {{recipe.strMeasure15}}</p>
        <p>{{recipe.strIngredient16}} : {{recipe.strMeasure16}}</p>
        <p>{{recipe.strIngredient17}} : {{recipe.strMeasure17}}</p>
        <p>{{recipe.strIngredient18}} : {{recipe.strMeasure18}}</p>
        <p>{{recipe.strIngredient19}} : {{recipe.strMeasure19}}</p>
        <p>{{recipe.strIngredient20}} : {{recipe.strMeasure20}}</p>
      </ion-list>
    </div>
  </ion-card>
</ion-content>
