ion-header{
    text-align: center;
    color: white;
  }
  ion-card{
    text-align: center;
    background-color: #827B60;
    color: white;
  }
  
  ion-list{
    background-color: #827B60;
    color: white;
  }
  
  ion-item{
    background-color: #827B60;
    color: white;
  }
  
  img{
    margin-top: 10px;
  }

  p{
    color: white;
  }

  h2{
    color: white;
    text-align: center;
  }
  