.div{
  background-color: black;
}

ion-header{
  text-align: center;
}
ion-card{
  text-align: center;
  background-color: #827B60;
}

img{
  margin-top: 10px;
}

h1{
  text-align: center;
}

.img{
  height: 75px;
}